*{
    margin: 0;
    padding: 0;
}

.app{
    background-color: $grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 1000px;

    .input-wrappers{
        display: grid;
        grid-template-columns: 1fr;
        width: 150%;
        height: 300px;
    }

    .button-wrapper{
        height: 50px;
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .search-wrapper{
        height: 100px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-title{
        color: $cream;
        font-family: 'DM Mono', monospace;
    }

    .tool-cards-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        width: 100%;
        margin-right: -30px;
        box-sizing: border-box;
        text-align: center;

        .tool-thumb{
            box-shadow: 8px 8px 9px 0px rgba(0, 0, 0, 0);
            // background-color: $ash;
            background-color: $tan;
            font-family: 'DM Mono', monospace;
            width: 70%;
            height: 250px;
            margin: 10px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 1px black solid;
            border: $blue solid 3px;
            box-shadow: 10px 10px 13px 0px rgba(0,0,0,0.75);
            font-size: 1.2vw;

            .buttons{
                width: 250px;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}