// $grey: rgb(255, 255, 255);
// $ash: #aeb6b4;
// $blue: #1F7A8C;
// $dblue: #053C5E;
// $tan: #AB3428;
// $cream: black;
$grey: #5D5C61;
$ash: #aeb6b4;
$blue: #7395ae;
$dblue: #497391;
$tan: #f3e2c4;
$cream: #dfdfdf;

